.event-card {
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 10px; 
    position: relative; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 

    margin: 10px; 
    flex: 1 1 10000;
  }
  
  .event-card:hover {
    transform: scale(1.05);
  }

  .event-name {
    font-size: 1.25rem; 
    font-weight: bold; 
    color: black; 
  }

  