.PageContainer {
    width: 80%;
    margin: 2% auto;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.ProfileCard {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);

    .avatar {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(#de685e, #ee786e);

        .photo {
            width: 90px;
            height: 90px;
            background: url("https://avatars.dicebear.com/4.5/api/avataaars/.svg?eyebrow[]=up&mouth[]=smile")
                0 0 no-repeat;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
        }
        
        h2 {
            margin: 0;
            padding: 0 12px;
            font-size: 24px;
            line-height: 26px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            background-color: #bf5a51;
            border-radius: 13px;
        }

        span {
            padding: 0 10px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            background-color: #bf5a51;
            border-radius: 11px;
        }

    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: 15px;
        align-items: center;

        h2 {
            margin: 0;
            padding: 0 2px;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            width: fit-content;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: #bf5a51;
            border-radius: 13px;
        }
        h3 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 10px;
            font-weight: 400;
            text-align: center;
        }

        > p {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 20px;
            max-height: 80px;   // 4 rows
            overflow: hidden;
        }

        ul {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 80px;   // 4 rows
            overflow: hidden;

            li {
                font-size: 16px;
                line-height: 20px;
            }
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 200px;
            justify-content: space-between;

            p {
                margin: 0;
                padding: 0;
                font-size: 14px;
                line-height: 20px;
                text-align: right;
            }
        }

        button {
            position: relative;
            padding: 0;
            font-family: inherit;
            font-size: 14px;
            line-height: 20px;
            border: none;
            background-color: transparent;
            outline: none;
            text-decoration: underline;
            cursor: pointer;

            &:after {
                content: "⇛";
                position: absolute;
                right: -15px;
            }
        }
    }
}
  
.event-list {
    height: 600px;
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
    padding: 20px;
}
.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .VenueDetailModal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    overflow-y: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }