.login-container {
    width: 80%;
    max-width: 600px;
    margin: 2% auto;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white for consistency */
    border-radius: 8px; /* Rounded corners */
    height: auto; /* Adjust height automatically based on content */
}

.login-form {
    margin-top: 30px;
}

.input-field {
    margin-bottom: 25px;
}

.input-field label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.input-field input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa; /* Slightly off-white background for the input fields */
}

.submit-field {
    margin-top: 25px;
}

.submit-field button {
    width: auto; /* Adjust width automatically based on content */
    padding: 10px 20px; /* More padding for a larger button */
    font-size: 18px; /* Larger font size for readability */
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    display: inline-block; /* Aligns button properly with padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistent shadow effect with other buttons */
}

.submit-field button:hover {
    background-color: #0056b3; /* Darker shade for hover state */
}

.login-footer {
    margin-top: 25px;
}

.login-footer a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 12px;
    font-size: 1.1em;
}

.login-footer a:hover {
    text-decoration: underline;
}
